header{
    background-color: aqua;
    text-align: center;
   
    font-size: 30px;
}

body{
    margin: 0;
    padding: 0;
}



.flexbox{
    display: flex;
    background-color:#673AB7 ;
    font-family: 'DM Mono';
    font-size: 22px;
    
    
}

.esquerda{
    padding: 180px;
    padding-bottom: 190px;
    padding-top: 100px;
}

.direita{
    padding-bottom: 0;
    padding: 200px;
    padding-top: 100px;
}

#foto{
    border-radius: 55%;
}

.imgs{
    height: 60px;
    width: 60px;
    background-color:#B388FF;
    padding: 20px;
    border-radius: 55%;
}

.divinfo{
    padding: 30px;
    width: 50%;
}

.botoes{
    margin: 15px;
}



.images{
    height: 60px;
    width: 60px;
    padding: 20px;
}

.images:hover{
    background-color: #311B92;

}